#polytope{
    width: 12em;
}

.button-on{
    color: white;
    background-color: rgba(202, 16, 16, 0.959);
    border-radius: 10px;
    padding: 2px;
}

.button-off{
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 2px;
}

.button-off:hover{
    background-color: #f88;
}

.view-button{
    color: white;
    border-radius: 10px;
    background-color: #0804fa;
    padding:  2px 10px 2px 10px;
    box-shadow: 1px 2px slategrey;
}

.view-button:hover{
    background-color: #7d7bfd;
}

.view-button:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 1px slategrey;
}


.buttons{
    height: 5ex;
}